<!DOCTYPE html>
<html>
  <head>
    <title>StyleShareFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
  </head>

  <body>
      <section id="navbar">
      <div class="navbar-top">
        <div class="navbar area">
           <h1><%= link_to "StyleShare", sketches_path %></h1>
        </div>
        <div class="navbar-links" id="navigation">
          <ul>
            <li><%= link_to "User Sketches!", root_path %></li>
          </ul>
          <button data-collapse data-target="#navigation" class="toggle" <span class="icon"></span></button>
        </div>
      </div>
    </section>

    <section class="main-container">
        <%= yield %>
    </section>

  </body>
</html>
